---
http_interactions:
- request:
    method: get
    uri: https://kabuk-platform.com/api/amenities?limit=5&page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b022196f72bbde7c2500fb4351f2e84c"
      X-Cloud-Trace-Context:
      - 7bfa775f02a94cf8db0cbbbc3676d270/13102137998357486185;o=1
    body:
      encoding: UTF-8
      string: '{"amenities":[{"id":6,"name":"diving"},{"id":7,"name":"Football"},{"id":8,"name":"Basketball"},{"id":9,"name":"Beach
        Volleyball"},{"id":10,"name":"Aquatic Sports"}],"pagination":{"current":{"page":2,"size":5},"next":{"page":3,"size":5}}}'
  recorded_at: Mon, 30 Dec 2024 14:32:20 GMT
recorded_with: VCR 6.3.1
