---
http_interactions:
- request:
    method: post
    uri: https://oauth2.googleapis.com/token
    body:
      encoding: ASCII-8BIT
      string: "<GCP_OAUTH_TOKEN_REFRESH>"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "<ACCESS_TOKEN>",
          "expires_in": 3599,
          "scope": "https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/sqlservice.login https://www.googleapis.com/auth/cloud-platform openid",
          "token_type": "Bearer",
          "id_token": "<ID_TOKEN>"
        }
  recorded_at: Thu, 19 Dec 2024 09:21:52 GMT
- request:
    method: get
    uri: https://kabuk-platform.com/api/chains?limit=5&page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7fa71ced74b2b6b1681da61ccc172923"
      X-Customer-Session-Id:
      - 01978300-e848-764f-a6fa-a9ab641310e9
      X-Cloud-Trace-Context:
      - 6dbb7b708c5a52cc2ef221fed71b5ca6/17192613028840356834;o=1
    body:
      encoding: UTF-8
      string: '{"chains":[{"id":6,"name":"AC Hotels"},{"id":7,"name":"AmeriSuites"},{"id":8,"name":"AmericInn"},{"id":9,"name":"Amerihost
        Inn"},{"id":10,"name":"Anasazi Service Corp"}],"pagination":{"current":{"page":2,"size":5},"next":{"page":3,"size":5}}}'
  recorded_at: Thu, 19 Dec 2024 09:21:52 GMT
recorded_with: VCR 6.2.0
