---
http_interactions:
- request:
    method: post
    uri: https://oauth2.googleapis.com/token
    body:
      encoding: ASCII-8BIT
      string: "<GCP_OAUTH_TOKEN_REFRESH>"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "<ACCESS_TOKEN>",
          "expires_in": 3599,
          "scope": "https://www.googleapis.com/auth/cloud-platform openid https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/sqlservice.login",
          "token_type": "Bearer",
          "id_token": "<ID_TOKEN>"
        }
  recorded_at: Thu, 19 Dec 2024 09:13:34 GMT
- request:
    method: get
    uri: https://kabuk-platform.com/api/chains
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"fa692585347e4fdb22310c3c44ff3898"
      X-Customer-Session-Id:
      - 01978300-e848-764f-a6fa-a9ab641310e9
      X-Cloud-Trace-Context:
      - 4f966f0a29270785fc42b4aebc6b7155/1767473271353514846;o=1
    body:
      encoding: UTF-8
      string: '{"chains":[{"id":1,"name":"ANA Hotels"},{"id":2,"name":"Abotel"},{"id":3,"name":"Aramark"},{"id":4,"name":"Airco
        Services"},{"id":5,"name":"All Suites Hotels"},{"id":6,"name":"AC Hotels"},{"id":7,"name":"AmeriSuites"},{"id":8,"name":"AmericInn"},{"id":9,"name":"Amerihost
        Inn"},{"id":10,"name":"Anasazi Service Corp"},{"id":11,"name":"Aramis Worldwide
        Res"},{"id":12,"name":"Arcotel Hotels"},{"id":13,"name":"Aston Hotels"},{"id":14,"name":"World
        Hotels"},{"id":15,"name":"Atel Hotels Network"},{"id":16,"name":"Bachelor
        Quarters"},{"id":17,"name":"Bartell Hotels"},{"id":18,"name":"Baymont Inns"},{"id":19,"name":"Best
        Inns"},{"id":20,"name":"Best Western"}],"pagination":{"current":{"page":1,"size":20},"next":{"page":2,"size":20}}}'
  recorded_at: Thu, 19 Dec 2024 09:13:35 GMT
recorded_with: VCR 6.2.0
