---
http_interactions:
- request:
    method: get
    uri: https://kabuk-platform.com/api/facilities?limit=5&page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"64493616ab7814047410481b43718a39"
      X-Cloud-Trace-Context:
      - b2615e85f80b1a2d19787bb537d42a09/11728400833438481502;o=1
    body:
      encoding: UTF-8
      string: '{"facilities":[{"id":6,"name":"Gymnasium"},{"id":7,"name":"Massage
        Room"},{"id":8,"name":"Sauna bath"},{"id":9,"name":"Sun bathing"},{"id":10,"name":"Call
        car service"}],"pagination":{"current":{"page":2,"size":5},"next":{"page":3,"size":5}}}'
  recorded_at: Mon, 30 Dec 2024 14:28:57 GMT
recorded_with: VCR 6.3.1
