---
http_interactions:
- request:
    method: get
    uri: https://kabuk-platform.com/api/facilities
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"eb4f553ff92b827518c71d2596efc921"
      X-Customer-Session-Id:
      - 01978300-e848-764f-a6fa-a9ab641310e9
      X-Cloud-Trace-Context:
      - 8dd52c9732859bcaf04abdcc7856735d/2350699377528599987;o=1
    body:
      encoding: UTF-8
      string: '{"facilities":[{"id":1,"name":"Simulated golf course"},{"id":2,"name":"Shopping
        mall"},{"id":3,"name":"Flower shop"},{"id":4,"name":"Clinic"},{"id":5,"name":"Hairdressing
        and beauty center"},{"id":6,"name":"Gymnasium"},{"id":7,"name":"Massage Room"},{"id":8,"name":"Sauna
        bath"},{"id":9,"name":"Sun bathing"},{"id":10,"name":"Call car service"},{"id":11,"name":"Shuttle
        bus"},{"id":12,"name":"Outdoor swimming pool"}],"pagination":{"current":{"page":1,"size":12},"next":null}}'
  recorded_at: Mon, 30 Dec 2024 14:28:56 GMT
recorded_with: VCR 6.3.1
