---
http_interactions:
- request:
    method: get
    uri: https://kabuk-platform.com/api/property_categories?limit=5&page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1747ca06d5c6a4963a726b7ca1b4f9db"
      X-Cloud-Trace-Context:
      - 5ace786f39f8e8e714645b4d899ad284/15544229882010863890;o=1
    body:
      encoding: UTF-8
      string: '{"property_categories":[{"id":6,"name":"Guesthouse"},{"id":7,"name":"Condo"},{"id":8,"name":"All-inclusive
        property"},{"id":9,"name":"Cabin"},{"id":10,"name":"Chalet"}],"pagination":{"current":{"page":2,"size":5},"next":{"page":3,"size":5}}}'
  recorded_at: Wed, 25 Dec 2024 05:12:08 GMT
recorded_with: VCR 6.3.1
