---
http_interactions:
- request:
    method: get
    uri: https://kabuk-platform.com/api/room_categories?limit=5&page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0bc183ae42b52e10fae0d1850391225a"
      X-Cloud-Trace-Context:
      - 755d9aa850b2adc9aaf17bc1b575ed4b/3698088570966815275;o=1
    body:
      encoding: UTF-8
      string: '{"room_categories":[{"id":6,"name":"Suite"},{"id":7,"name":"Bunk"},{"id":8,"name":"Apartment"},{"id":9,"name":"Villa"},{"id":10,"name":"MotorHome"}],"pagination":{"current":{"page":2,"size":5},"next":{"page":3,"size":5}}}'
  recorded_at: Wed, 25 Dec 2024 05:30:33 GMT
recorded_with: VCR 6.3.1
