---
http_interactions:
- request:
    method: get
    uri: https://kabuk-platform.com/api/rooms?languages%5B%5D=en-US&limit=3&property_codes%5B%5D=bk60&property_codes%5B%5D=rndm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2f4674bc3c88487bc6486231b731c61a"
      X-Cloud-Trace-Context:
      - 89838bf7919c89789ae4b0c4cfebd9a3/10045833335413338660;o=1
    body:
      encoding: UTF-8
      string: '{"rooms":[{"property_code":"rndm","code":"102","min_adult_occupancy":1,"max_adult_occupancy":3,"min_child_occupancy":0,"max_child_occupancy":1,"room_category_id":4,"title":{"en-US":"Standard
        Room"},"description":{"en-US":null},"amenities":[126,148],"images":[{"url":"https://i.travelapi.com/hotels/11000000/10170000/10168000/10167936/ba4643a8_z.jpg","hero_image":false,"caption":{"en-US":"Living
        Area"}},{"url":"https://i.travelapi.com/hotels/11000000/10170000/10168000/10167936/025bbe68_z.jpg","hero_image":false,"caption":{"en-US":"Living
        Area"}},{"url":"https://i.travelapi.com/hotels/11000000/10170000/10168000/10167936/cdc53c58_z.jpg","hero_image":false,"caption":{"en-US":"Bathroom"}},{"url":"https://i.travelapi.com/hotels/11000000/10170000/10168000/10167936/879251f8_z.jpg","hero_image":false,"caption":{"en-US":"Dining"}},{"url":"https://i.travelapi.com/[...]
