---
http_interactions:
- request:
    method: get
    uri: https://kabuk-platform.com/api/rooms?language=en-US&limit=3&property_codes%5B%5D=bk60&property_codes%5B%5D=rndm&room_codes%5B%5D=102&room_codes%5B%5D=104
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a362e706be748284de41c8799c9dbde9"
      X-Cloud-Trace-Context:
      - 1e1e063c21161a39045b1b3ea96fb1ee/10284318216837494761;o=1
    body:
      encoding: UTF-8
      string: '{"rooms":[{"property_code":"rndm","code":"102","min_adult_occupancy":1,"max_adult_occupancy":3,"min_child_occupancy":0,"max_child_occupancy":1,"room_category_id":4,"title":{"en-US":"Standard
        Room"},"description":{"en-US":null},"amenities":[126,148],"images":[{"url":"https://i.travelapi.com/hotels/11000000/10170000/10168000/10167936/02d040be_z.jpg","hero_image":true,"caption":{"en-US":"Room"}},{"url":"https://i.travelapi.com/hotels/11000000/10170000/10168000/10167936/376b1880_z.jpg","hero_image":false,"caption":{"en-US":"Room"}},{"url":"https://i.travelapi.com/hotels/11000000/10170000/10168000/10167936/2f3dc2c5_z.jpg","hero_image":false,"caption":{"en-US":"Room"}},{"url":"https://i.travelapi.com/hotels/11000000/10170000/10168000/10167936/06d7cd35_z.jpg","hero_image":false,"caption":{"en-US":"In-Room
        Dining"}},{"url":"https://i.travelapi.com/hotels/11000000/10[...]
