---
http_interactions:
- request:
    method: get
    uri: https://kabuk-platform.com/api/room_categories
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"223ca249ccbbe83a42aa586bbc3adda2"
      X-Customer-Session-Id:
      - 01978300-e848-764f-a6fa-a9ab641310e9
      X-Cloud-Trace-Context:
      - 9fe0b243943ddd3f75c7803171d2f550/2208001889490940056;o=1
    body:
      encoding: UTF-8
      string: '{"room_categories":[{"id":1,"name":"Triple Room"},{"id":2,"name":"Single
        Room"},{"id":3,"name":"Family Room"},{"id":4,"name":"Double Room"},{"id":5,"name":"Quad
        Room"},{"id":6,"name":"Suite"},{"id":7,"name":"Bunk"},{"id":8,"name":"Apartment"},{"id":9,"name":"Villa"},{"id":10,"name":"MotorHome"},{"id":11,"name":"Camp"},{"id":12,"name":"Bungalow"},{"id":13,"name":"Studio"},{"id":14,"name":"Japanese
        Room"}],"pagination":{"current":{"page":1,"size":14},"next":null}}'
  recorded_at: Wed, 25 Dec 2024 05:27:46 GMT
recorded_with: VCR 6.3.1
