---
http_interactions:
- request:
    method: delete
    uri: https://kabuk-platform.com/api/bookings/ZFOOIVQVNG
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5a27346a287abea76da8b4ed35597f0b"
    body:
      encoding: UTF-8
      string: '{"client_reference":"ZFOOIVQVNG","status":"cancelled","supplier_reference":"k9187g8d","rate":{"rate_key":"c7926d6e-334d-42eb-a295-6508ad2b4ad9","net":"5397.86","available_rooms":null,"board_code":"room_only","non_refundable":false,"cancellation_remarks":"This
        policy is fully refundable","supplier_description":"Standard - 1 Queen Bed","check_in_date":"2025-02-16","check_out_date":"2025-02-17","room_name":"Harmony
        Johnson I","room_code":"104","check_in_instructions":null,"hotel_fees":{"optional
        service car":{"value":100,"currency":"USD"},"resort fee per head upon check-in":{"value":1,"currency":"USD"}},"cancellation_policies":[{"date_from":"2025-02-11","date_to":"2025-02-17","percent":0.0,"amount":"0.0"}]},"guests":[{"first_name":"Sooraj","last_name":"Kumar","nationality":"JP","contact_number":"+81
        1111111111"}]}'
  recorded_at: Wed, 12 Feb 2025 00:03:42 GMT
recorded_with: VCR 6.3.1
