---
http_interactions:
- request:
    method: delete
    uri: https://kabuk-platform.com/api/bookings/youruser1232?guest_ip=5.5.5.5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BEARER_TOKEN>
      Customer-Session-Id:
      - 019782fd-278a-7211-81e1-e15b3d7f4326
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8fffcbd42cb6858f1b4c19bc4731fba8"
      X-Customer-Session-Id:
      - 019782fd-278a-7211-81e1-e15b3d7f4326
    body:
      encoding: UTF-8
      string: '{"client_reference":"youruser1232","status":"cancelled","supplier_reference":"520413623102873","rate":{"rate_key":"0ed03ad8-c47a-4d49-b01f-253dc7fea7c0","net":"915.0","available_rooms":2300,"board_code":"unknown","non_refundable":false,"cancellation_remarks":null,"supplier_description":"Honeymoon
        Room (#Test-Only#Partner:Connect)","check_in_date":"2025-06-15","check_out_date":"2025-06-17","room_name":"Honeymoon
        Room (#Test-Only#Partner:Connect)","room_code":"230410389","check_in_instructions":null,"hotel_fees":{"resort_fee":{"value":"153","currency":"JPY"},"mandatory_fee":{"value":"1","currency":"JPY"},"mandatory_tax":{"value":"2","currency":"JPY"}},"cancellation_policies":[{"date_from":"2025-06-13
        02:00:00 +0900","date_to":"2025-06-16 02:00:00 +0900","penalty_type":"amount","penalty_value":"334.0"}]},"guests":[{"first_name":"john","last_name":"doe","nationality":"JP","contact_number":"+923312345678","email":"this@mail.com"}]}'
  recorded_at: Tue, 13 May 2025 18:20:48 GMT
recorded_with: VCR 6.3.1
