---
http_interactions:
- request:
    method: get
    uri: https://kabuk-platform.com/api/check_availability?adults_count=1&from_date=2025-02-19&property_code=bk60&room_code=104&to_date=2025-02-20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Customer-Session-Id:
      - 019782fc-ebb3-7af9-8168-c9d0279f4ab9
    body:
      encoding: UTF-8
      string: '[{"date":"2025-02-19","net":"273.47","available_rooms":3,"board_code":"room_only","non_refundable":false,"cancellation_remarks":"Voluptate
        ratione neque.","supplier_description":"Magnam tenetur iusto asperiores.","room_name":"Harmony
        Johnson I","room_code":"104","adults_count":1,"cancellation_policies":[{"date_from":"2025-02-12","date_to":"2025-02-26","percent":40.32,"amount":"65.54"}]},{"date":"2025-02-19","net":"301.20","available_rooms":3,"board_code":"breakfast","non_refundable":false,"cancellation_remarks":"Voluptate
        ratione neque.","supplier_description":"Magnam tenetur iusto asperiores.","room_name":"Harmony
        Johnson I","room_code":"104","adults_count":1,"cancellation_policies":[{"date_from":"2025-02-12","date_to":"2025-02-26","percent":40.32,"amount":"65.54"}]},{"date":"2025-02-19","net":"355.00","available_rooms":2,"board_code":"half_board","non_refundable":false,"cancellation_remarks":"Voluptate
        ratione neque.","supplier_description":"Magnam tenetur iusto asperiores.","room_name":"Harmony
        Johnson I","room_code":"104","adults_count":1,"cancellation_policies":[{"date_from":"2025-02-12","date_to":"2025-02-26","percent":40.32,"amount":"65.54"}]}]'
  recorded_at: Wed, 23 Jul 2026 04:00:00 GMT
recorded_with: VCR 6.3.1
