---
http_interactions:
- request:
    method: get
    uri: https://kabuk-platform.com/api/check_rate?adults_count=1&check_in_date=2025-01-23&check_out_date=2025-01-25&country_code=JP&language=en-US&nationality=JP&property_code=bk60&room_code=104
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8256c9f6aff1747da8e0a2e41ef81dcc"
      X-Customer-Session-Id:
      - 019782f9-34bd-7f74-bc39-d2d6a338dc86
    body:
      encoding: UTF-8
      string: '{"rate_key":"3f08b683-89aa-4bde-aed2-7fec7e67b2ed","net":"10795.72","available_rooms":null,"board_code":"room_only","non_refundable":false,"cancellation_remarks":"This
        policy is fully refundable","supplier_description":"Standard - 1 Queen Bed","check_in_date":"2025-01-23","check_out_date":"2025-01-25","room_name":"Harmony
        Johnson I","room_code":"104","check_in_instructions":null,"hotel_fees":{"optional
        service car":{"value":100,"currency":"USD"},"resort fee per head upon check-in":{"value":1,"currency":"USD"}},"cancellation_policies":[{"date_from":"2025-01-21","date_to":"2025-01-24","percent":0.0,"amount":"0.0"}]}'
  recorded_at: Tue, 21 Jan 2025 13:51:27 GMT
recorded_with: VCR 6.3.1
