---
http_interactions:
- request:
    method: get
    uri: https://kabuk-platform.com/api/check_rate?adults_count=1&check_in_date=2025-03-23&check_out_date=2025-03-25&country_code=FR&language=en-US&nationality=US&property_code=bk60&room_code=104
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"258568f7871bfa65dc643398d5597855"
      X-Cloud-Trace-Context:
      - 86d331a49336b692bc7751200f2264c1/4931818455278692772;o=1
    body:
      encoding: UTF-8
      string: '{"rate_key":"387358e2-0827-4d99-8a73-e94c13ecbb78","net":"10795.72","available_rooms":null,"board_code":"all_inclusive","non_refundable":false,"cancellation_remarks":"This
        policy is fully refundable","supplier_description":"Standard - 1 Queen Bed","check_in_date":"2025-03-23","check_out_date":"2025-03-25","room_name":"Standard
        Room","room_code":"104","check_in_instructions":null,"hotel_fees":{"optional
        service car":{"value":100,"currency":"USD"},"resort fee per head upon check-in":{"value":1,"currency":"USD"}},"cancellation_policies":[{"date_from":"2025-02-19","date_to":"2025-03-24","percent":0.0,"amount":"0.0"}]}'
  recorded_at: Wed, 19 Feb 2025 04:22:04 GMT
recorded_with: VCR 6.3.1
