---
http_interactions:
- request:
    method: get
    uri: https://kabuk-platform.com/api/check_availability?adults_count=1&from_date=2025-02-19&property_code=bk60&room_code=104&to_date=2025-02-22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"de1a95a9d43adafb34e778afdffaf2df"
      X-Customer-Session-Id:
      - 019782fc-ebb3-7af9-8168-c9d0279f4ab9
    body:
      encoding: UTF-8
      string: '[{"date":"2025-02-19","net":"273.47","available_rooms":3,"board_code":"room_only","non_refundable":false,"cancellation_remarks":"Voluptate
        ratione neque. Atque aut incidunt. Corrupti architecto voluptatem.","supplier_description":"Magnam
        tenetur iusto asperiores.","room_name":"Harmony Johnson I","room_code":"104","cancellation_policies":[{"date_from":"2025-02-12","date_to":"2025-02-26","percent":40.32,"amount":"65.54"},{"date_from":"2025-02-07","date_to":"2025-02-21","percent":98.29,"amount":"96.11"}]},{"date":"2025-02-20","net":"53.93","available_rooms":6,"board_code":"room_only","non_refundable":false,"cancellation_remarks":"Aliquam
        dolorum enim. Ut dolor dolor. Sit consectetur doloremque.","supplier_description":"Voluptatem
        sit ut repudiandae.","room_name":"Harmony Johnson I","room_code":"104","cancellation_policies":[{"date_from":"2025-02-14","date_to":"2025-02-18","percent":81.21,[...]
