---
http_interactions:
- request:
    method: post
    uri: https://kabuk-platform.com/api/bookings
    body:
      encoding: UTF-8
      string: '{"rate_key":"12ba0884-bac1-4738-8323-ab04f1252dfe","client_reference":"XYZ123","first_name":"John","last_name":"Doe","nationality":"JP","contact_number":"123456","email":"john@example.com","guest_ip":"49.36.67.203"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"08c33064e5dfdcf9074e871bf11b26bc"
      X-Customer-Session-Id:
      - 019782f9-34bd-7f74-bc39-d2d6a338dc86
    body:
      encoding: UTF-8
      string: '{"client_reference":"XYZ123","status":"pending","supplier_reference":"kj3eyxw4","rate":{"rate_key":"12ba0884-bac1-4738-8323-ab04f1252dfe","net":"5397.86","available_rooms":null,"board_code":"room_only","non_refundable":false,"cancellation_remarks":"This
        policy is fully refundable","supplier_description":"Standard - 1 Queen Bed","check_in_date":"2025-02-14","check_out_date":"2025-02-15","room_name":"Harmony
        Johnson I","room_code":"104","check_in_instructions":null,"hotel_fees":{"optional
        service car":{"value":100,"currency":"USD"},"resort fee per head upon check-in":{"value":1,"currency":"USD"}},"cancellation_policies":[{"date_from":"2025-02-12","date_to":"2025-02-15","percent":0.0,"amount":"0.0"}]},"guests":[{"first_name":"John","last_name":"Doe","nationality":"JP","contact_number":"123456"}]}'
  recorded_at: Wed, 12 Feb 2025 00:16:27 GMT
recorded_with: VCR 6.3.1
